@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 150px;
  margin: 0;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  margin-bottom: 10px;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 1;
}

footer p {
  color: #fff;
  font-size: 16px;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
    background-color: #ff6eff;
  }
  14% {
    background-color: #b35dff;
  }
  28% {
    background-color: #6574ff;
  }
  42% {
    background-color: #1ac5ff;
  }
  57% {
    background-color: #1effb3;
  }
  71% {
    background-color: #ffec1a;
  }
  85% {
    background-color: #ffa000;
  }
  100% {
    background-position: 100% 50%;
    background-color: #ff6eff;
  }
}

body {
  animation: backgroundAnimation 20s linear infinite;
  background: linear-gradient(45deg, #ff6eff, #b35dff, #6574ff, #1ac5ff, #1effb3, #ffec1a, #ffa000, #ff6eff);
  background-size: 400% 400%;
}
